<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/meta :: head"></head>

<body class="animsition">
<div class="page-wrapper">

    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">

                <div th:replace="/fragments/header::header"></div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img th:src="@{images/icon/avatar-01.jpg}" alt="John Doe"/>
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img th:src="@{/images/icon/avatar-01.jpg}" alt="John Doe"/>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">


        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">User Registration
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <!-- DATA TABLE-->
        <!--------------------------FORM START------------------------------->
        <section class="p-t-10">
            <div class="container small">
                <div class="col-sm-12">
                    <form>
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="firstname" class=" form-control-label">FIRST NAME</label>
                                            <input type="text" id="firstname"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="lastname" class=" form-control-label"><L>LAST NAME</L></label>
                                            <input type="text" id="lastname"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="password" class="col-form-label">PASSWORD</label>
                                            <input id="password" type="password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="phone" class=" form-control-label">PHONE</label>
                                            <input type="tel" id="phone"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="email" class=" form-control-label">E-MAIL</label>
                                            <input type="text" id="email"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="selectrole" class=" form-control-label">ROLE</label>
                                            <select name="select" id="selectrole" class="form-control">
                                                <option value="" selected="selected">Select Role</option>
                                                <option value="AL">ACTIVE</option>
                                                <option value="AK">PASSIVE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="selectcompany" class=" form-control-label">COMPANY</label>
                                            <select name="select" id="selectcompany" class="form-control">
                                                <option value="" selected="selected">Select Company</option>
                                                <option value="AL">ACTIVE</option>
                                                <option value="AK">PASSIVE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="selectstatus" class=" form-control-label">STATUS</label>
                                            <select name="select" id="selectstatus" class="form-control">
                                                <option value="" selected="selected">Select Status</option>
                                                <option value="AL">ACTIVE</option>
                                                <option value="AK">PASSIVE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success">Save</button>
                                        <button type="button" class="btn btn-danger">Delete </button>
                                        <button type="button" class="btn btn-secondary">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--------------------------FORM END------------------------------->
                    <div class="table-data__tool">
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add User
                            </button>
                        </div>
                    </div>
                    <!-- START DATA TABLE-->
                    <div class="table-responsive table-responsive-data3 ">
                        <table class="table table-data3">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Representative</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Zip</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tr-shadow">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-primary">Closed</button></td>
                                <td><div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                            title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div></td>
                            </tr>
                            <tr class="tr-shadow">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-primary">Closed</button></td>
                                <td><div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                            title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div></td>
                            </tr>
                            <tr class="tr-shadow">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-primary">Closed</button></td>
                                <td><div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                            title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div></td>
                            </tr>
                            <tr class="tr-shadow">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-primary">Closed</button></td>
                                <td><div class="table-data-feature">
                                    <button class="item" data-toggle="tooltip" data-placement="top"
                                            title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </div></td>
                            </tr>

                            <tr class="tr-shadow">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td><button type="button" class="btn btn-success">Active</button></td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- END DATA TABLE-->
        <!-- COPYRIGHT-->
        <div th:replace="/fragments/copyright :: footer"></div>
        <!-- END COPYRIGHT-->
    </div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>