<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/meta :: head"></head>

<body class="animsition">
<div class="page-wrapper">

    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">

                <div th:replace="/fragments/header::header"></div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img th:src="@{images/icon/avatar-01.jpg}" alt="John Doe"/>
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img th:src="@{/images/icon/avatar-01.jpg}" alt="John Doe"/>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">


        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">User Registration
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <!-- DATA TABLE-->
        <!--------------------------FORM START------------------------------->
        <section class="p-t-10">
            <div class="container small">
                <div class="col-sm-12">
                    <form class="needs-validation" novalidate th:action="@{/management/user}" method="post" th:object="${user}">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="firstname" class=" form-control-label" >FIRST NAME</label>
                                            <input type="text" id="firstname"  th:field="*{firstName}" class="form-control" required>
                                            <div class="invalid-feedback">
                                                Please enter first name
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="lastname" class=" form-control-label"><L>LAST NAME</L></label>
                                            <input type="text" id="lastname" th:field="*{lastName}"
                                                   class="form-control" required>
                                            <div class="invalid-feedback">
                                                Please enter last name
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="password" class="col-form-label">PASSWORD</label>
                                            <input id="password" type="password"  th:field="*{password}" class="form-control"  required>
                                            <div class="invalid-feedback">
                                                Please enter password
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="phone" class=" form-control-label">PHONE</label>
                                            <input type="tel" id="phone" th:field="*{phone}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="email" class=" form-control-label">E-MAIL</label>
                                            <input type="text" id="email" th:field="*{email}"
                                                   class="form-control" required>
                                            <div class="invalid-feedback">
                                                Please enter email.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label >ROLE</label>
                                            <select th:field="*{roles}" class="form-control" required="required">
                                                <option th:value="''" th:text="Select"></option>
                                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.description}"></option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="selectcompany" class=" form-control-label">COMPANY</label>
                                            <select name="select" id="selectcompany" class="form-control">
                                                <option value="" selected="selected">Select Company</option>
                                                <option value="AL">ACTIVE</option>
                                                <option value="AK">PASSIVE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>STATUS</label>
                                            <select th:field="*{userStatus}" class="form-control" required="required">
                                                <option th:value="''" th:text="Select"></option>
                                                <option th:each="status:${T(com.friday.enums.Status).values()}"
                                                        th:value="${status}" th:text="${status.getValue()}" ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <button type="button" class="btn btn-danger">Delete </button>
                                        <button type="button" class="btn btn-secondary">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--------------------------FORM END------------------------------->
                    <div class="table-data__tool">
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add User
                            </button>
                        </div>
                    </div>
                    <!-- START DATA TABLE-->
                    <div class="table-responsive table-responsive-data3 ">
                        <table class="table table-data3">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Corp</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="user:${users}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.phone}"></td>
                                <td th:text="${user.getRolesString()}"></td>
                                <td></td>
                                <td th:text="${user.userStatus}"></td>

                                <td class="actions">
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- END DATA TABLE-->
        <!-- COPYRIGHT-->
        <div th:replace="/fragments/copyright :: footer"></div>
        <!-- END COPYRIGHT-->
    </div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>